@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

.transition-hover {
  transition-duration: .3s;
  transition-property: all;
}
.page-height {
  min-height: calc(100vh - 126px) ;
}